.App {
  text-align: center;
}

.Modal {
  width: 50vw;
  height: 25vh;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-width: thick;
  border-style: double;
  border-color: #4188ff;
}

.LoginButton {
  width: 90%;
}

.LoginModal {
  border: 2px;
}

.App-header {
  background-color: #005fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.HomeModalLabel {
  flex: 1;
  align-self: start;
  color: black;
}

.HomeModalImput {
  flex: 1;
  width: 40vw;
  font-size: 24px;
}

.HomeModalButton {
  flex: 2;
  margin-top: 12px;
  height: fit-content;
  
}
