.App {
  text-align: center;
}

.Home {
  width: 50vw;
  height: 25vh;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-width: thick;
  border-style: double;
  border-color: #4188ff;
}

.LoginButton {
  width: 90%;
}

.LoginModal {
  border: 2px;
}

.App-header {
  background-color: #005fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
